<div class="nes-container with-title is-centered is-dark">
    <p class="title">
    &#x1F344;
    xShrooms Community XRPL Node!
    <i class="nes-icon trophy is-small"></i>
    </p>
    <progress
            class="nes-progress nes-pointer is-error"
            value="{{ TOTAL_RAISED }}"
            max="{{ GOAL| default('25012') }}"
            onclick="location.href='{{ WELL_KNOWN_WALLET_URL }}';"
            id="donationGoal"
            >
    </progress>
    
    <p>
        <i class="nes-icon star is-small"></i>
        Click the progress bar to view the wallet directly
    </p>

</div>
