<div class="nes-container with-title is-centered">
    <p class="title">Be sure to have an xShrooms trustline.</p>

    <p>
        <span class="bigshroom">
            &#x1F447;
        </span>
    </p>

    <a
        class="nes-btn is-warning"
        href="https://xrpl.services/?issuer=rHqLei9xJch13JioYHsDUwWJoz81QQh6LU&currency=785368726F6F6D00000000000000000000000000&limit=4999"
    >
        <span class="bigshroom">
            &#x1F344;
            &#x1F50F;
        </span>
    </a>
</div>
